

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2C2A4A;
    padding: 15px;
  }
  
  .appName {
    font-size: 30px;
    font-weight: bold;
    color: #FFFFFA;
  }
  
  button.menu {
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: absolute;
    top: 40px;
    right: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    padding: 5px;
  }
  
  .dropdown button {
    display: block;
    width: 100%;
    text-align: left;
    padding: 10px;
    font-size: 16px;
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
  }
  
  .dropdown button:hover {
    background-color: #f0f0f0;
  }
  