.generate-view-main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

iframe {
    min-height: 800px;
    width: 100%;
    border-radius: 0 0 8px 8px;
}

.div-preview-iframe-container {
    box-shadow: black 0px 0px 4px;
    margin-right: 12px;
    background-color: white;
    flex: 1.5;
    border-radius: 8px;
}

.title-editor-top-bar-container {
    color: #000000;
    font-size: 18px;
    border-bottom: #222222 1px solid;
    padding: 12px;
    border-radius: 8px 8px 0 0;
}

.title-editor-top-bar-container-colored {
    color: white;
    background-color: #2c2a4a;
    font-size: 18px;
    padding: 12px;
    border-radius: 8px 8px 0 0;
}

#title-editor-top-bar-container-iframe {
    font-size: 24px;
}

.div-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    padding: 100px;
    color: #2C2A4A;
}

.div-editor-row {
    margin: 12px;
    display: flex;
    width: 95%;
}

.div-editor-flex-column {
    display: flex;
    flex-direction: column;
    width: 50%;
    border-radius: 8px;
    flex: 1;
    box-shadow: black 0px 0px 4px;
}

.div-editor-options {
    margin: 8px;
    background-color: white;
    border: 1px #cbcbcb solid;
    border-radius: 4px;
    color: black;
    overflow: clip;
}

.div-editor-options-content-container {
    display: flex;
    flex-direction: row;
    padding: 8px;
    justify-content: space-evenly;
}

.div-editor-element-sizing-content-container {
    display: flex;
    flex-direction: column;
    padding: 8px;
    justify-content: space-evenly;
}

.div-editor-element-sizing-content {
    padding: 2px;
}

.div-editor-element-sizing-input {
    margin: 8px;
}

.button-editor {
    padding: 12px;
    border-radius: 24px;
    border: none;
    background-color: #2c2a4a;
    color: white;
}

.button-editor:hover {
    background-color: #585493;
    color: white;
}

#button-regenerate, #button-preview {
    background-color: #ffffff;
    border: #2c2a4a 1px solid;
    color: black;
}

@media only screen and (max-width: 600px) {
    .div-generation-editor {
        width: 100%;
    }
    .div-editor-row {
        flex-direction: column;
        width: 100%;
    }
    .div-preview-iframe-container {
        width: 100%;
    }
    .div-editor-flex-column {
        width: 100%;
    }
}