.container {
    display: flex;
    background-color: #fffffa;
    flex-direction: column;
    align-items: center;
    margin: 50px;
  }

  .container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .or-container {
    position: relative;
    text-align: center;
  }
  
  .heading {
    font-size: 2.25em;
    margin-bottom: 100px;
    color: #2C2A4A;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .input {
    padding-left: 5%;
    width: 300px;
    height: 40px;
    border: 1px solid gray;
    border-radius: 20px;
    margin-bottom: 10px;
  }
  
  .button {
    font-size: 1.125em;
    margin-top: 20px;
    width: 300px;
    margin-bottom: 100px;
    background-color: #2C2A4A; 
    color: white; 
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
  }
  
  .or {
    font-size: 1.125em;
    background-color: #fffffa;
    color: #323232;
    padding-left: 5%;
    padding-right: 5%;
    position: fixed;
    top: 68%; 
    left: 50%; 
    transform: translate(-50%, 0); 
  }

  .hr {
    position: relative;
  }
  
  .google {
    font-size: 1em;
    margin-top: 20%;
    color: #323232;
    width: max-content;
    background-color: transparent;
    border: transparent;
  }
  