.container, .container2 {
    overflow: hidden;
  }

.container {
    display: flex;
    background-color: #fffffa;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px;
    height: 450px;
  }

  .container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container_s {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
  }

  .or-container {
    position: relative;
    text-align: center;
  }
  
  .heading {
    font-size: 2.25em;
    margin-bottom: 70px;
    color: #2C2A4A;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .input {
    padding-left: 5%;
    width: 90%;
    height: 40px;
    border: 1px solid gray;
    border-radius: 20px;
    margin-bottom: 10px;
  }

  .formContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .loginButton {
    width: 240px;
  }
  
  .or {
    font-size: 1.125em;
    background-color: #fffffa;
    color: #323232;
    padding-left: 5%;
    padding-right: 5%;
    position: fixed;
    top: 64%; 
    left: 50%; 
    transform: translate(-50%, 0); 
  }

  .hr {
    position: relative;
  }
  
  /* .google {
    font-size: 1em;
    margin-top: 50%;
    color: #323232;
    width: max-content;
    background-color: transparent;
    border: transparent;
  } */

  