.main-divider {
    display: flex;
    justify-content: center;
    align-items: center;
}

.canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

canvas {
    border: 1px solid #000;
}