.div-flex-text-completion-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.div-flex-text-completion-main h4 {
  margin: 4px;
}

.input-text-completion-selected-text {
  width: 90%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 16px;
  color: #7c7c7c;
}

@keyframes blinkBorder {
  0%, 100% {
    border: 1px solid #ccc;
    box-shadow: 0 0 18px 0 rgba(255, 255, 255, 0);
  }
  50% {
    border: 1px solid #1aff00; /* Blue color */
    box-shadow: 0 0 10px 0 #1aff00;
  }
}

.blinking-border {
  animation: blinkBorder 0.3s ease-out; /* Customize the duration and timing function as needed */
}

.info-icon {
  margin-left: 8px;
  cursor: pointer;
}

.div-text-completion-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #e5e5e5;
  margin: 4px 8px;
  padding: 8px;
  border-radius: 8px;
}

.input-text-completion-text {
  width: 90%;
  min-height: 30%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 16px;
  resize: none;
}

.selector-text-completion-text-type {
  width: 50%;
  padding: 8px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 16px;
  color: #7c7c7c;
}

.button-text-completion-generate {
  width: 50%;
  padding: 8px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 16px;
  color: #ffffff;
  background-color: #2C2A4A;
  cursor: pointer;
}

.button-text-completion-generate.disabled {
  /* Your disabled button styles */
  background-color: #7d79d3;
  color: #7c7c7c;
  cursor: not-allowed; /* Example: Change cursor to not-allowed */
}

