/* MainContent.css */

.mainContent {
    margin-top: 10px;
  }
  
  .recentProjectsText {
    font-size: 24px;
    font-weight: bold;
    margin-left: 10px;
  }

  .recentsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
  }

  .projectContainer {
    margin: 20px; 
  }

  .iframeRecentProject {
    width: 100%;
    height: 100%;
    pointer-events: none;
    transform: scale(0.8) translateY(-10%);
  }
  
  @media only screen and (max-width: 600px) {
    .recentProjectsText {
      font-size: 18px;
    }
    .infoBoxButton {
      height: 200px;
      width: 150px;
    }
  }